@font-face {
    font-family: 'Overpass', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Overpass');
}

* {
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}