@font-face {
    font-family: 'Overpass', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Overpass');
}

* {
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}